* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial';
}

.App {
  margin: 0 auto;
  max-width: 1024px;
  position: relative;
  padding: 0 20px;
}

.App-header {
  text-align: center;
  font-size: 30px;
  margin: 20px 0 40px;
  color: gray;
}

.NewCategory {
  text-align: center;
  margin: 20px 0;
}

.NewCategory-input {
  padding: 10px;
  border-radius: 10px;
  box-shadow: none;
  border: 1px solid gray;
  width: 200px;
}

.NewCategory-button-submit {
  margin-left: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  background: tomato;
  color: white;
  box-shadow: none;
  border: 0;

}

.Suitcase {
  width: 400px;
  height: 300px;
  border: 2px solid tomato;
  position: fixed;
  right: 20%;
  top: 30%;
  border-radius: 10px;
}

.Suitcase h1 {
  text-align: center;
  margin: 10px 0;
  font-size: 20px;
  color: gray;
}

.CategoryList {
  margin: 10px;
  padding: 20px;
  border: 1px solid red;
  position: absolute;
  top: 100px;
  right: 50px;
}

.btn {

}

.List-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 60%;
  margin: 40px 0;
  padding: 0 40px;
}

.content-container {
  display: flex;
}

.category-list {
  width: 70%;
  margin: 20px;
  border-radius: 10px;
  border: 1px solid gray;
}

.ListHeader {
  padding: 10px;
  position: relative;
}

.ListHeader-title {
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
  font-size: 18px;
  color: gray;
}

.ListHeader-check-final {
  position: absolute;
  left: 10px;
  top: 10px;
  padding: 5px;
  border: 2px solid tomato;
  background-color: white;
  color: tomato;
  border-radius: 80px;
}

.ListHeader-collapse {
  position: absolute;
  right: 40px;
  top: 10px;
  //border: 1px solid gray;
  padding: 5px;
  border: none;
  background-color: white;
  color: gray;
}

.ListHeader-close {
  position: absolute;
  right: 10px;
  top: 10px;
  //border: 1px solid gray;
  padding: 5px;
  border: none;
  background-color: white;
  color: gray;
}

.newTask-btn {
  display: block;
  margin: 10px auto;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 10px;
  background: tomato;
  color: white;
  box-shadow: none;
  border: 0;
}

.ListItem {
  position: relative;
}

.ListItem-container {
  max-height: 200px;
  overflow-y: scroll;
}

.ListItem-input {
  display: block;
  padding: 10px 60px 10px 40px;
  width: 90%;
  margin: 10px auto;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.ListItem-checkbox {
  position: absolute;
  left: 30px;
  top: 13px;
}

.ListItem-close {
  position: absolute;
  right: 20px;
  top: 3px;
  border: none;
  background-color: white;
  color: lightgray;
}

.ListItem-debate {
  position: absolute;
  right: 40px;
  top: 3px;
  border: none;
  background-color: white;
  color: lightgray;
}


